$borderSizes : (
  0: 0px,
  1: 1px,
  2: 2px,
  4: 4px,
  8: 8px
);

$borderStyles : solid, dotted, dashed;


@each $borderStyle in $borderStyles {
  .border-#{$borderStyle} {
     border-style: $borderStyle;
  }
}


//Generate Border Style
@each $name, $size in $borderSizes {
    .border-#{$name} {
      border-width: $size;
      border-style: solid;
    }
}

//Generate Border Left Style
@each $name, $size in $borderSizes {
    .border-l-#{$name} {
      border-width: $size;
      border-left-style: solid;
    }
}

//Generate Border Right Style
@each $name, $size in $borderSizes {
    .border-r-#{$name} {
      border-width: $size;
      border-right-style: solid;
    }
}

//Generate Border Bottom Style
@each $name, $size in $borderSizes {
    .border-b-#{$name} {
      border-width: $size;
      border-bottom-style: solid;
    }
}

@each $name, $value in $colors {
  .border-#{$name} {
      border-color: $value;
  }
}

@each $name, $value in $colors {
  .border-l-#{$name} {
      border-left-color: $value;
  }
}

@each $name, $size in $borderSizes {
  .hover\:border-l-#{$name} {
    &:hover {
      border-left-width: $size;
      border-left-style: solid;
    }
  }
}

@each $name, $value in $colors {
  .hover\:border-l-#{$name} {
    &:hover {
      border-left-color: $value;
    }
  }
}

@each $name, $value in $colors {
  .border-r-#{$name} {
      border-right-color: $value;
  }
}

@each $name, $value in $colors {
  .border-b-#{$name} {
      border-bottom-color: $value;
  }
}

@each $name, $value in $colors {
  .border-t-#{$name} {
      border-top-color: $value;
  }
}
