@each $key, $value in $widths {
  .rounded-#{$key} {
    border-radius: $value;
  }
}

@each $key, $value in $widths {
  .rounded-r-#{$key} {
    border-top-right-radius: $value;
    border-bottom-right-radius: $value;
  }
}

@each $key, $value in $widths {
  .rounded-l-#{$key} {
    border-top-left-radius: $value;
    border-bottom-left-radius: $value;
  }
}

@each $key, $value in $widths {
  .rounded-t-#{$key} {
    border-top-right-radius: $value;
    border-top-left-radius: $value;
  }
}

@each $key, $value in $widths {
  .rounded-b-#{$key} {
    border-bottom-right-radius: $value;
    border-bottom-left-radius: $value;
  }
}