$spacing: (
  1: 8px,
  2: 12px,
  3: 16px,
  4: 24px,
  5: 32px,
  6: 48px,
);

$otherSpacing: (
  px: 1px,
  1: 0.25rem,
  2: 0.5rem,
  3: 0.75rem,
  4: 1rem,
  5: 1.25rem,
  6: 1.5rem,
  7: 1.75rem,
  8: 2rem,
  9: 2.25rem,
  10: 2.5rem,
  11: 2.75rem,
  12: 3rem,
  14: 3.5rem,
  16: 4rem,
  20: 5rem,
  24: 6rem,
  28: 7rem,
  32: 8rem,
  36: 9rem,
  40: 10rem
);
    
@each $name, $size in $spacing {
  .space-y-#{$name} {
    & > * + * {
        margin-top: $size; 
    }
  }
}

@each $name, $size in $spacing {
  .space-x-#{$name} {
    & > * + * {
        margin-left: $size; 
    }
  }
}

@each $name, $size in $spacing {
  .space-#{$name} {
    margin: $size;
  }
}

@each $name, $size in $otherSpacing {
  .mt-#{$name} {
    margin-top: $size;
  }
}

@each $name, $size in $otherSpacing {
  .mr-#{$name} {
    margin-right: $size;
  }
}

@each $name, $size in $otherSpacing {
  .ml-#{$name} {
    margin-left: $size;
  }
}

@each $name, $size in $otherSpacing {
  .mb-#{$name} {
    margin-bottom: $size;
  }
}

@each $name, $size in $otherSpacing {
  .m-#{$name} {
    margin: $size;
  }
}

@each $name, $size in $otherSpacing {
  .mx-#{$name} {
    margin-left: $size;
    margin-right: $size;
  }
}

@each $name, $size in $otherSpacing {
  .my-#{$name} {
    margin-top: $size;
    margin-bottom: $size;
  }
}


@each $name, $size in $otherSpacing {
  .pt-#{$name} {
    padding-top: $size;
  }
}

@each $name, $size in $otherSpacing {
  .pr-#{$name} {
    padding-right: $size;
  }
}

@each $name, $size in $otherSpacing {
  .pl-#{$name} {
    padding-left: $size;
  }
}

@each $name, $size in $otherSpacing {
  .px-#{$name} {
    padding-left: $size;
    padding-right: $size;
  }
}

@each $name, $size in $otherSpacing {
  .py-#{$name} {
    padding-top: $size;
    padding-bottom: $size;
  }
}

@each $name, $size in $otherSpacing {
  .pb-#{$name} {
    padding-bottom: $size;
  }
}

@each $name, $size in $otherSpacing {
  .p-#{$name} {
    padding: $size;
  }
}