$fontWeights : (
  thin : 100,
  extralight : 200,
  light : 300,
  normal : 400,
  medium : 500,
  semibold : 600,
  bold : 700,
  extrabold : 800,
  black : 900,
);


$fontSizes : (
  xs: 0.75rem,
  sm: 0.875rem,
  base: 1rem,
  lg: 1.125rem,
  xl: 1.25rem,
  2xl: 1.5rem,
  3xl: 1.875rem,
  4xl: 2.25rem,
  5xl: 3rem,
  6xl: 3.75rem,
  7xl: 4.5rem,
  8xl : 6rem,
  9xl : 8rem
);

//All Colours used on the project for better control 
$colors : (
  primary: #213F7D,
  dark: #121212,
  lightgrey: '#9CA3AF',
  light: #f3f3f3,
  white : #fff,
  lightsecondary : '#FBFBFE',
  secondary: #808183,
  danger: #CF0202,
  success: #00FF00,
  accent : #39CDCC,
  bordergray: #C9C8D3,
  darkgrey: #555555,
  lightblue: #E9ECF9,
  lighterblue : #EBEDFA,
  gray-100: rgba(84, 95, 125, 0.15),
);

$text-alignment-list : left, right, center, justify, start, end;

@each $name, $size in $fontSizes {
  .text-#{$name} {
    font-size: $size;
  }
}

@each $name, $size in $fontWeights {
  .font-#{$name} {
    font-weight: $size;
  }
}

@each $name, $value in $colors {
  .text-#{$name} {
    color: $value;
  }
}


@each $name, $size in $colors {
  .bg-#{$name} {
    background-color: $size;
  }
}

@each $name in $text-alignment-list {
  .text-#{$name} {
    text-align: $name;
  }
}


.title {
  font-size: 40px;

  @media only screen and (max-width: 640px) {
    font-size: 32px;
  }

}

.subtitle {
  font-size: 24px;

  @media only screen and (max-width: 640px) {
    font-size: 18px;
  }

}
