@import "./text-style";
@import "./spacing";
@import "./shadow";
@import "./border";
@import "./rounded";
@import "./flexbox";
@import "./grid";
@import "./display";

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

