@import "./globals.scss";

.hide-from-mobile {

    @media only screen and (max-width: $screen-lg) {
     display: none;
   }

}

.user-stats-wrapper {
    @extend .grid;
    @extend .grid-cols-4;
    @extend .gap-7;

   @media only screen and (max-width: $screen-lg) {
     @include grid-cols-3;
   }

   @media only screen and (max-width: $screen-md) {
     @include grid-cols-2;
   }

    @media only screen and (max-width: $screen-sm) {
     @include grid-cols-2;
   }

}

.user-details-information-wrapper {

   @media only screen and (max-width: $screen-lg) {
     @include grid-cols-3;
   }

   @media only screen and (max-width: $screen-md) {
     @include grid-cols-2;
   }

    @media only screen and (max-width: $screen-sm) {
     @include grid-cols-2;
   }

}

.user-details-top-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $screen-md) {
      display: block;
      & > * + * {
        margin-top: 10px; 
     }
   }
}

.user-detail-basic-info-wrapper {
    display: flex;
    align-items: center;

    @media only screen and (max-width: $screen-md) {
      flex-direction: column;

      & > * + * {
          margin-left: 0px; 
          margin-top: 15px; 
      }


      
      div {
         border-right: none !important;
         text-align: center;
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 0;

         & > * + * {
          margin-top: 10px; 
          margin-left: 0px; 
        }
      }

    }
}